/*
!/.gitignore
!/.vimrc
!.xbindkeysrc
!/.Guardfile
!/.tmux.conf

!/.bash_aliases
!/.config/
/.config/*

!/.config/emacs/
!.emacs

!/.gconf/
/.gconf/*
!/.gconf/apps/
/.gconf/apps/*
!/.gconf/apps/gnome-terminal/
/.gconf/apps/gnome-terminal/profiles/Default/%gconf.xml


!/.config/geany/
/.config/geany/*
!/.config/geany/keybindings.conf
!/.config/geany/filedefs/
!/.config/geany/readme.txt
!/.config/geany/filedefs/colorschemes
/.config/geany/filedefs/colorschemes/*
!/.config/geany/filedefs/colorschemes/alt.conf

!/.config/Terminal/

!/.config/mc/
/.config/mc/*
# /.config/mc/ini
!/.config/mc/mc.ext
!/.config/gtk-3.0/
/.config/gtk-3.0/bookmarks


!/.vim/
/.vim/*
!/.vim/settings/


#!/.Xkbmap

!/.mpd/
!/.ncmpcpp/
