[Desktop Entry]
X-SnapInstanceName=screencloud
Name=ScreenCloud
GenericName=Screenshot sharing tool
Comment=Capture and share screenshots easily
Icon=/snap/screencloud/5/usr/share/icons/hicolor/scalable/apps/screencloud.svg
Type=Application
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/screencloud_screencloud.desktop /snap/bin/screencloud
Hidden=false
NoDisplay=false
Categories=Network;Graphics;2DGraphics;
Terminal=false
OnlyShowIn=GNOME;KDE;XFCE;ROX;

